<li class="item">
	<div class="videoBox">
		<img src="http://t2.qpic.cn/mblogpic/79a2430d911cc3bd06e4/220" />
	</div>
	<div class="comtBox">
		
		<div class="userPic">
			<a href="###" hidefocus="true"><img src="http://t1.qlogo.cn/mbloghead/31006af2b068c70871f4/50" alt="" /></a>
		</div>
		<div class="userName"><a href="###" class="c_tx7">不正常人类研究中心</a></div>
		<div class="msgBox">
			<div class="msgCnt c_tx7 tx_14">未来不需要改变，那是执着于信念的人们必然迎接到来的明天。
			</div>
		</div>
		<div class="time"><a href="###" class="c_tx2">12月12日 16:32</a></div>
	</div>
</li>