<div class="topnav">
	<div class="bd clear">

		<!-- logo -->
		<div class="logo clear">
			<div class="c1">
				<a href="index.shtml" title="旅行家"></a>
			</div>
		</div>
		<!-- /logo -->

		<div class="right clear">

		<!-- 一级导航 -->
		<div class="nav left ml15 clear" style="display:none">

			<div class="item">
				<a href="fall.shtml" class="txt">发现中国</a>
			</div><div class="item">
				<a href="fall.shtml" class="txt">探索世界</a>
			</div>

		</div>
		<!-- /一级导航 -->

		</div>

	</div>
</div>
<div class="topnav_ph">
	<!-- placeholder -->
</div>